* { 
	margin:0 auto;
	padding:0;
}

body { 
	background:#555 url(../imagens/back.jpg);
}

a:link {
	font-family:'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
	font-size:13px;
	color:#4366ab;
}
a:visited {
	font-family:'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
	font-size:13px;
	color:#4366ab;
}
a:hover {
	color:#4366ab;
	text-decoration:none;
}
a:focus {
	outline:none;
}
#conteudo { 
	text-align:left;
	background:#fff;
	width: 900px;
	overflow: hidden;
}
#coluna-1 { 
	float: left;
	padding: 0px 0px 0px 20px;
}
#permissoes-projeto { 
	float: left;
	margin-left:10px;
	margin-top:5px;
	font-family:'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
	font-size:13px;
}
div.column {
	float:center;
	line-height:1.9em;
	padding:10px 0;
}
div.column h3 {
	color:#212121;
	font-family:'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
}
fieldset {
	display:block;
	border:none;
	width:420px;
	border-top:2px solid #e0e0e0;
}
fieldset legend {
	font-family:'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
	font-weight:bold;
	font-size:14px;
	color:#222;
}
fieldset div form {
	padding:0px;
}

fieldset div.tarefas {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-right:10px;
	margin-left:10px;
	margin-top:0px;
	float:left;
	padding:0px;
	border:0px;
}

fieldset div.tarefas a:link {
	font-size:13px;
	color:#4366ab;
	text-decoration:underine;
}

fieldset div.tarefas a:visited {
	font-size:13px;
	color:#4366ab;
	text-decoration:underine;
}

fieldset div.tarefas a:hover {
	font-size:13px;
	color:#4366ab;
	text-decoration:none;
}

fieldset div.tarefas-data {
	margin-bottom: -27px;
	margin-top:10px;
	margin-left:5px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border-bottom:1px #d90716 solid;
	width:410px;
}
fieldset div.tarefas-titulo a:link {
	font-size:13px;
	color:#4366ab;
	text-decoration:underline;
}

fieldset div.tarefas-titulo a:visited {
	font-size:13px;
	color:#4366ab;
	text-decoration:underline;
}
fieldset div.tarefas-titulo a:hover {
	font-size:13px;
	color:#d90716;
	text-decoration:none;
}
fieldset div.tarefas-titulo {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-top:-18px; 
	margin-left:33px;
	margin-right:7px;
	float:left;
	width:350px;
}

fieldset form {
	padding-top:15px;
}
fieldset p label {
	float:left;
	width:150px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
fieldset p.comentario {
	width:740px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}

/* filtros de ações recentes e tarefas pendentes */
fieldset p.filtros {
	text-align:right;
	margin-right:10px;
	margin-bottom:-15px;
	font-size:12px;
	color:#152F4E;
}
fieldset p.filtros a:link {
	font-family:'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
	font-size:12px;
	color:#4366ab;
}
fieldset p.filtros a:visited {
	font-family:'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
	font-size:12px;
	color:#4366ab;
}
fieldset p.filtros a:hover{
	color:#d90716;
}

fieldset p.cadastro {
	margin-top: 10px;
	margin-bottom: 2px;
	font-size:14px;
	font-family:'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
	color:#152F4E;
}

font.atividades {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
fieldset form input, fieldset form select, fieldset form textarea {
	padding:2px;
	color:#333333;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #ddd;
}
form input.formbutton {
	margin-left:0px;
	border:none;
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #002142;
	background-color:#8a8a8a;
	color:#ffffff;
	font-weight:bold;
	padding:5px 10px;
	font-size:12px;
}
form td button{
	background-color:#ffffff;
	height: 16px;
	width: 16px;
	border:0px;
}
form td button.delete{
	background-image:url(../imagens/bt_deletar.png);
}
form td button.update{
	background-image:url(../imagens/bt_atualizar.png);
}
form td button.editar{
	background-image:url(../imagens/ico_editar.png);
}
form td button.deletar{
	background-image:url(../imagens/ico_deletar.png);
}
form td button.pesquisar{
	background-image:url(../imagens/ico_pesquisar.png);
}
form td button.responder{
	background-image:url(../imagens/ico_sim.png);
}
form td button.grafico{
	background-image:url(../imagens/ico_grafico.png);
}
form button{
	background-color:#ffffff;
	height: 16px;
	width: 16px;
	border:0px;
}
form button.delete{
	background-image:url(../imagens/bt_deletar.png);
}
form button.update{
	background-image:url(../imagens/bt_atualizar.png);
}
h1 {
	font-size:45px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#01203F;
	font-weight:normal;
}
h2 {
	color:#111;
	font-family:Arial,Helvetica,sans-serif;
	font-size:33px;
	font-weight:bold;
	letter-spacing:-2px;
	padding:0 0 5px;
	margin:0;
}
h3 {
	color:#152F4E;
	font-weight:normal;
	font-size:20px;
	margin-bottom:10px;
	margin-left:15px;
}
h4 {
	color:#000;
	text-align: right;
	font-family:'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
	font-weight:normal;
	font-size:13px;
	margin-top:-38px;
	margin-bottom:0px;
	margin-right:13px;
}
h5 {
	padding-bottom:10px;
	font-size:13px;
	color:#666666;
}
table {
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	float:left;
}
th, td {
	padding:1px 1px;
}
th {
	color:#fff;
	padding:3px 5px;
	text-align: center;
	background-color:#8a8a8a;
}
td {
	background:#fff;
	border-bottom:1px solid #d0d0d0;
}

p {
	line-height:1.9em;
	margin-bottom:10px;
}


div.cabecalho {
	background:#fff;
	width:900px;
	border-top:5px;
}
h4.cabecalho{
	margin-top:-10px;
	margin-bottom:-20px;
	text-align:right;
}

#copyright {
	padding:0px;
    width:900px;
	height: 56px;
    font:12px 'Trebuchet MS';
    color:#f0f0f0;
	text-align:center;
	margin-top: 5px;
}
div.copyright a:link, a:visited {
	font:12px 'Trebuchet MS';
	text-decoration:none;
}
div.copyright a:hover {
	font:12px 'Trebuchet MS';
	color:#fff;
	text-decoration:underline;
}